:root{
  --theme-color:rgb(85,182,249);
  --bg-color-main:rgb(240,240,240);
  --bg-color-white:white;
  --font-color-main:black;
  --font-color-red:rgb(216,105,101);
  --font-color-label:rgb(158,158,158);
  --font-base-size:14px;
}
html,body{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top:0;
  background-color: var(--bg-color-main);
}
p{
  margin: 10px 0;
}
@media (max-width:480px) {
  .app{
    position: relative;
    margin: 0;
    padding: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
@media (min-width:480px){
  .app{
    position: relative;
    margin: 0;
    padding: 0;
    top:0;
    width: 480px;
    height: 100%;
    left: calc((100% - 480px) / 2);
    overflow-y: auto;
    border: 1px solid var(--theme-color);
  }
}
.main{
  position: relative;
  margin: 0;
  padding: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 50px;
}
.title{
  color: var(--font-color-label);
  padding-left: 10px;
  font-size: var(--font-base-size);
}
.ticket{
  background-color:var(--bg-color-white);
  display: flex;
  border-bottom: 1px solid var(--bg-color-main);   
  padding-left: 10px;
  width: calc(100% - 10px);
}
.ticket-left{
  display: inline-block;
  width: 50%;
}
.ticket-left-des{
  color: var(--font-color-label);
  font-size: calc(var(--font-base-size) - 2px);
  margin: 0;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.ticket-left-price{
  color: var(--theme-color);
}
.ticket-left-quantity{
  color: var(--font-color-red);
  font-size: calc(var(--font-base-size) - 2px);
}
.ticket-right{
  width: var(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin:0 10px;
}
.buyer{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 20px 10px;
  width: calc(100% - 20px);
  background-color:var(--bg-color-white);
}
.participant{
  background: var(--bg-color-white);
}
.number{
  color: var(--theme-color);
}
.footer{
  width: 100%;
  display: flex;
  background-color:var(--bg-color-white);
}
.footer-left{
  width: calc(50% - 10px);
  display: inline-block;
  margin-left:10px;
}
.footer-right{
  display: flex;
  justify-items: center;
  width: calc(50% - 10px);
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}